<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/bootstrap/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/bootstrap/css/style.css" rel="stylesheet">
   <title>Home Page</title>
</head>

<body>
   <div class="header">
      <h1 id="headerTitle">Stock X</h1>
      <select id="userSelection"><option selected></option></select>
      <button id="newUserBtn">New User</button>
   </div>
   <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/bootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/bootstrap/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/bootstrap/js/mdb.min.js"></script>
  {{{body}}}
  
  <script>
      $("#newUserBtn").on("click",function(event){
         event.preventDefault();
         location.href = "/createUser";
      });
      $.ajax({
         url: "/api/users",
         method: "GET",
      }).then(function (res) {
         var my_user_id = sessionStorage.user_id;
         res.forEach(function(user){
            var option = $("<option>").val(user.user_id).text(user.user_id);
            if(my_user_id == option.val()){
               option.attr("selected","selected");
            }
            $("#userSelection").append(option);
         })
      });

      $("#userSelection").change(function(){
         sessionStorage.setItem("user_id",$("#userSelection").val());
      });
  </script>
   <footer class="stocksFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="blue-text text-darken-4 left">© 2019 Stock X</span>
				<a class="red-text text-darken-2 right" href="https://github.com/MarkHays/stocks">Github</a>
			</div>
		</div>
	</footer>

</body>

</html>
