<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/bootstrap/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/bootstrap/css/style.css" rel="stylesheet">
  <title>Home Page</title>
</head>

<body>
  <div class="header">
    <h1 id="headerTitle">Stock X</h1>

    <button id="newUserBtn">New User</button>
    <button class="button home"> Home </button>
    <button class="button logout">
      <a href="/">Logout</a>
    </button>

  </div>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/bootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/bootstrap/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/bootstrap/js/mdb.min.js"></script>

  <script>


    $(".logout").on("click", function (event) {
      event.preventDefault();
      $.ajax({
        url: "/logoutUser",
        method: "POST"
      }).then(function () {
        sessionStorage.setItem("user_id","");
        location.href = "/";
      });
    });

    $(".home").on("click", function (event) {
      event.preventDefault();
      window.moveToHomePage(sessionStorage.getItem("user_id"));
    });

    $("#newUserBtn").on("click", function (event) {
      event.preventDefault();
      location.href = "/createUser";
    });

    $.ajax({
      url: "/api/users",
      method: "GET",
    }).then(function (res) {
      var my_user_id = sessionStorage.user_id;
      res.forEach(function (user) {
        var option = $("<option>").val(user.user_id).text(user.user_id);
        if (my_user_id == option.val()) {
          option.attr("selected", "selected");
        }
        $("#userSelection").append(option);
      })
    });

    function moveToHomePage(userID) {
      $.ajax({

        url: "/loginUser",
        method: "POST",
        data: {
          userId: userID
        }
      }).then(function () {
        location.href = "/index";
      });
    }


    //mdbootstrap library already loaded in main page.
    //to draw char, it will require a canavs tag lineChart, then call js function drawChart(["fb","aapl","tsla"]);  
    function drawChart(symbols) {

      $.ajax({ url: "https://api.iextrading.com/1.0/stock/market/batch?symbols=" + symbols.join(",") + "&types=quote,news,chart&range=6m", method: "get" })
        .then(function (result) {
          data = [];
          count = 0;
          for (var symbol in result) {
            dates = [];
            prices = [];
            borderOpac = 1;
            bgColor = 0.2;
            chartItems = result[symbol].chart;
            for (var i = 0; i < chartItems.length; i += 15) {
              dates.push(chartItems[i].date);
              prices.push(chartItems[i].close);
            };
            chartConfig = {
              label: symbol,
              data: prices,
              backgroundColor: setColor(count, 0.2),
              borderColor: setColor(count, 1),
              borderWidth: 1
            }
            //change color for next symbol
            count += 1 % 6;
            data.push(chartConfig);
          };


          var ctx = document.getElementById("myChart").getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: dates,
              datasets: data
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
        });
    }

    function setColor(index, opacity) {
      colors = [`rgba(255,99,132,${opacity})`,
      `rgba(54, 162, 235, ${opacity})`,
      `rgba(255, 206, 86, ${opacity})`,
      `rgba(75, 192, 192, ${opacity})`,
      `rgba(153, 102, 255, ${opacity})`,
      `rgba(255, 159, 64, ${opacity})`]
      return colors[index];
    }

    //use this function update linechart.
    //drawChart(["fb","aapl","tsla"]);   


    function sendPurchaseRequest(event) {
      event.preventDefault();
      var parent = $(this).parent();
      var buying = true;
      var symbol = parent.children(".stockSymbol").text();
      if ($(this).text() === "Sell") buying = false;
      $.ajax({
        url: "https://api.iextrading.com/1.0/stock/" + symbol + "/price",
        method: "GET",
        statusCode: {
          "404": function () {
            location.href = "*";
          }
        }
      }).then(function (response) {
        processPurchase(parent,response, buying, symbol);
      });

    };

    function processPurchase(parent,purchasedata, buying, symbol) {
     
      $.ajax({
        url: "/api/purchase/",
        method: "POST",
        data: {
          user_id: sessionStorage.getItem("user_id"),
          symbol: symbol,
          price: purchasedata,
          buying, buying,
          quantity: 1
        }
      }).then(function (res) {
         parent.children(".shareCount").text(res.quantity);
      });
    };
  </script>
  {{{body}}}


  <footer class="stocksFooter">
    <div class="footer-copyright">
      <div class="container">
        <span class="blue-text text-darken-4 left">© 2019 Stock X</span>
        <a class="red-text text-darken-2 right" href="https://github.com/MarkHays/stocks">Github</a>
      </div>
    </div>
  </footer>

</body>

</html>