<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/bootstrap/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/bootstrap/css/style.css" rel="stylesheet">
  <title>Home Page</title>
</head>

<body>
  <div class="header">
    <h1 id="headerTitle">Stock X</h1>
    <ul>
       <li><a class="navBar" href="../">Home</a></li>
      <li><a class="navBar" href="../createUser">New User</a></li>
       <li><a class="navBar" href="../stocks/:symbol">Stocks</a></li>
    </ul>
  </div>
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/bootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/bootstrap/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/bootstrap/js/mdb.min.js"></script>


  <script>
    $("#newUserBtn").on("click", function (event) {
      event.preventDefault();
      location.href = "/createUser";
    });
    $.ajax({
      url: "/api/users",
      method: "GET",
    }).then(function (res) {
      var my_user_id = sessionStorage.user_id;
      res.forEach(function (user) {
        var option = $("<option>").val(user.user_id).text(user.user_id);
        if (my_user_id == option.val()) {
          option.attr("selected", "selected");
        }
        $("#userSelection").append(option);
      })
    });

    $("#userSelection").change(function () {
      sessionStorage.setItem("user_id", $("#userSelection").val());
      location.href = "/api/positions/" + $("#userSelection").val();
    });

    //mdbootstrap library already loaded in main page.
    //to draw char, it will require a canavs tag lineChart, then call js function drawChart(["fb","aapl","tsla"]);  
    function drawChart(symbols) {

      $.ajax({ url: "https://api.iextrading.com/1.0/stock/market/batch?symbols=" + symbols.join(",") + "&types=quote,news,chart&range=6m", method: "get" })
        .then(function (result) {
          console.log(result);
          data = [];
          count = 0;
          for (var symbol in result) {
            dates = [];
            prices = [];
            borderOpac = 1;
            bgColor = 0.2;
            chartItems = result[symbol].chart;
            for (var i = 0; i < chartItems.length; i += 15) {
              dates.push(chartItems[i].date);
              prices.push(chartItems[i].close);
            };
            chartConfig = {
              label: symbol,
              data: prices,
              backgroundColor: setColor(count, 0.2),
              borderColor: setColor(count, 1),
              borderWidth: 1
            }
            //change color for next symbol
            count += 1 % 6;
            data.push(chartConfig);
          };


          var ctx = document.getElementById("myChart").getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: dates,
              datasets: data
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
        });
    }

    function setColor(index, opacity) {
      colors = [`rgba(255,99,132,${opacity})`,
      `rgba(54, 162, 235, ${opacity})`,
      `rgba(255, 206, 86, ${opacity})`,
      `rgba(75, 192, 192, ${opacity})`,
      `rgba(153, 102, 255, ${opacity})`,
      `rgba(255, 159, 64, ${opacity})`]
      return colors[index];
    }

    //use this function update linechart.
    //drawChart(["fb","aapl","tsla"]);   
  </script>
  {{{body}}}


  <footer class="stocksFooter">
    <div class="footer-copyright">
      <div class="container">
        <span class="blue-text text-darken-4 left">© 2019 Stock X</span>
        <a class="red-text text-darken-2 right" href="https://github.com/MarkHays/stocks">Github</a>
      </div>
    </div>
  </footer>

</body>

</html>