<div class="createUserForm">
    <div class="row">
        <div class="col-8 offset-2">
            <div id="result"></div>
            <h1>New User</h1>
            <form>
                 <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="name" class="form-control" id="inputName">
                </div>
                <div class="form-group">
                    <label for="inputId">User ID</label>
                    <input type="user_id" class="form-control" id="inputId">
                </div>
                <div class="form-group">
                    <label for="inputBudget">Budget</label>
                    <input type="budget" class="form-control" id="inputBudget" placeholder="$">
                </div>

                <button id="submitNewUser" type="submit" class="btn btn-success btn-sm">Submit</button>
                <button id="cancel" type="submit" class="btn btn-success btn-sm">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $("#submitNewUser").on("click", function (event) {
    event.preventDefault();

    var newUserData = {
        name: $("#inputName").val(),
        user_id: $("#inputId").val(),
        budget: $("#inputBudget").val()
    }
    $("#cancel").on("click",function(event){
        location.href="/";
    })

    $.post("/api/users", newUserData)
    .then(function(data){
        //if status 200 refresh back to homepage.
        location.href = "/";
    }).catch(
       function(error) {
            console.log(error); 
            $("#result").text("Unable to create user.");
       })
  });
</script>