<div id="home">

  <div class="stocksContainer">
    <div class="row">
      <div class="col-8 offset-2">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-8 offset-2">
        <div class="container">
          {{#each positions}}

          {{position}}

          {{/each}}
        </div>

        <label for="inputName">
          <h5>Add Stock</h5>
        </label>
        <input type="text" id="inputName" placeholder="Search...">
        <button id="search" class="button submitButton">Q</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>




  $("#search").on("click", function (event) {
    event.preventDefault();
    console.log("click");
    var name = $("#inputName").val();
    var redirect = "";

    $.ajax({
      url: "https://api.iextrading.com/1.0/stock/" + name + "/quote",
      method: "GET",
      statusCode: {
        404: function () {
          redirect = "*";
        }
      }
    }).then(function (response) {

      if (redirect === "*") {
        location.href = href;
      } else {
        location.href = "/stocks/" + name;
      }
    });
  });

  $("#submit").on("click", function (event) {
    event.preventDefault();
    $.ajax({
      url: "https://api.iextrading.com/1.0/stock/" + $("#stockSymbol").val() + "/price",
      method: "GET"
    }).then(debugPurchase);
  });

  function debugPurchase(purchasedata) {
    console.log(purchasedata);
    $.ajax({
      url: "api/purchase/",
      method: "POST",
      data: {
        user_id: "f",
        symbol: $("#stockSymbol").val(),
        price: purchasedata,
        quantity: 1
      }
    }).then(function (res) {

      console.log(res);
    });
  };
 // drawChart(["fb", "aapl", "tsla"]);  
</script>