<body>
    <div class="stocksContainer">

        <div class="row">
            <div class="col-8 offset-2">
                <h2 id="loginHeading">Login</h2>
                <select id="userSelection">
                    <option selected></option>
                </select>
            </div>
        </div>
    </div>
</body>