<div>
    <h3 class="stockSymbol">{{symbol}}</h3>
    <h5 class="shareCount numberofShares">Shares: {{quantity}}</h5>
    <button id="price{{symbol}}" class="tradeButton button">Buy</button><br><br>
    <button id="sell{{symbol}}" class="tradeButton button">Sell</button>
    <hr>
</div>