<div class="userPositionContainer">
    <div class="row">
        <div class="col-8 offset-2">
            <div>
                <h1 id="currentUser">John Doe</h1><br><br>
                <h3 id="currentUserId">ID: 456</h3><br>
            </div>
            <div>
                 <h3 class="investSubheading">Investing:</h3>
                 <h4 id="investAmount">$5000</h4><br>
            </div>
            <h3 class="subheading">Your Stocks:</h3>
            <hr>
            <div>
                <h3 class="stockSymbol">AAPL</h3>
                <h5 class="numberofShares">Shares: 30</h5>
                <button id="priceAAPL" class="button">Buy</button><br><br>
                <button id="sellAAPL" class="button">Sell</button>
                <hr>
                 <h3 class="stockSymbol">TSLA</h3>
                <h5 class="numberofShares">Shares: 10</h5>
                <button id="priceTSLA" class="button">Buy</button><br><br>
                <button id="sellTSLA" class="button">Sell</button>
                <hr>
            </div>
        </div>
    </div>
</div>