/* HOMEPAGE */
.header {
  padding: 12px;
  background: black;
}

#headerTitle {
  font-family: "Dosis", sans-serif;
  color: white;
  position: relative;
  left: 30px;
  
}

.stocksContainer {
  position: relative;
  top: 50px;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: #00c055;
}

h4 {
  font-family: "Dosis", sans-serif;
  color: black;
}

/* user selection*/
#userSelection {
  width: 100px;
  height: 30px;
  float: right;
  position: relative;
  bottom: 40px;
  right: 10px;
  margin-left: 5px;
  color: black;
  background-color:white;
  border: none;
  border-radius: 5px;
}

/* new user button (top right corner) */
#newUserBtn {
  width: 100px;
  height: 30px;
  float: right;
  position: relative;
  bottom: 40px;
  right: 10px;

  color: black;
  background-color:white;
  border: none;
  border-radius: 5px;
}


#newUserBtn:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
  
}

/* "buy" buttons */

.searchButton {
  width: 100px;
  height: 30px;
  float: right;
  position: relative;
  bottom: 0px;
  color: white;
  background-color: #00c055;
  border: none;
  border-radius: 5px;
}

.border {
  border-style: solid;
  border-radius: 2px;
  border-color: #00c055;
}

.button {
  width: 100px;
  height: 30px;
  float: right;
  position: relative;
  bottom: 40px;
  color: white;
  background-color: #00c055;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: black;
}

/* CREATE NEW USER */

.createUserForm {
  position: relative;
  top: 50px;
}

/* submit button */
#submitNewUser {
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 5px;
}

#cancel {
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 5px;
}

h1, h5 {
  font-family: "Dosis", sans-serif;
  color: black;
}

/* USER POSITION PAGE */
#currentUser {
  position: relative;
  top: 50px;
}

.investSubheading {
  font-family: "Dosis", sans-serif;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

.subheading {
  font-family: "Dosis", sans-serif;
  color: white;
  background-color: #00c055;
  padding: 10px;
  border-radius: 5px;
}

.numberofShares {
  color: gray;
}

#price {
  background-color: black;
}

#price:hover {
  background-color: #00c055;
}

/* STOCK CONTAINER */

.stocksContainer {
  margin: 5%;
  padding: 20px;
}


/* FOOTER */
.stocksFooter {
  bottom: auto 0;
}

