/* HOMEPAGE */
.header {
  padding: 12px, 12px;
  height: 60px;
  background: black;
  text-align: center;
  padding-left: 15px;
  padding-top: 5px;
}

.header a{
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#headerTitle {
  font-family: "Dosis", sans-serif;
  color: white;
  float:left;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.stocksContainer {
  position: relative;
  top: 70px;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: #00c055;
}

h4 {
  font-family: "Dosis", sans-serif;
  color: black;
}

/* user selection*/

#login:hover {
  background-color: black;
  color: white;
}

#loginHeading {
  color: black;
  position: relative;
  left: 160px;
}
#userSelection {
  width: 200px;
  height: 60px;
  position: relative;
  left: 150px;
  margin-left: 5px;
  color:white;
  background-color:black;
  border: none;
  border-radius: 5px;
}

/* NAV BAR */
#newUserBtn {
  width: 100px;
  height: 30px;
  background-color: #00c055;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

#newUserBtn:hover {
  background-color: white;
  color: black;
}

.home, .logout {
  width: 100px;
  height: 30px;
  background-color: #00c055;
  color: white;
  border: none;
}


/* "buy" buttons */

.searchButton {
  width: 100px;
  height: 30px;
  float: right;
  position: relative;
  bottom: 0px;
  color: white;
  background-color: #00c055;
  border: none;
  border-radius: 5px;
}

.border {
  border-style: solid;
  border-radius: 2px;
  border-color: #00c055;
}

.button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #00c055;
  float: right;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.button:hover {
  background-color: white;
  color: black;
}

/* CREATE NEW USER */

.createUserForm {
  position: relative;
  top: 50px;
}

/* submit button */
#submitNewUser {
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 5px;
}

#cancel {
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 5px;
}

h1, h5 {
  font-family: "Dosis", sans-serif;
  color: black;
}

/* USER POSITION */
#currentUser {
  position: relative;
  top: 50px;
}

.investSubheading {
  font-family: "Dosis", sans-serif;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

.subheading {
  font-family: "Dosis", sans-serif;
  color: white;
  background-color: #00c055;
  padding: 10px;
  border-radius: 5px;
}

.numberofShares {
  color: gray;
}

#price {
  background-color: black;
}

#price:hover {
  background-color: #00c055;
}

/* CREATE NEW USER */

.createUserForm {
  position: relative;
  top: 50px;
}

#submitNewUser, #cancel {
  width: 115px;
  height: 40px;
}

/* submit button */
#submitNewUser {
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 5px;
}

#cancel {
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 5px;
}

h1, h5 {
  font-family: "Dosis", sans-serif;
  color: black;
}
/* STOCK CONTAINER */

.stocksContainer {
  margin: 5%;
  padding: 20px;
}

/* STOCK PAGE */
button {
  width: 100px;
  height: 25px;
  color: white;
  background-color: black;
  border: none;
}

button:hover {
  background-color: #00c055;
}

.tradeButton {
  width: 100px;
  height: 30px;
  padding: 5px, 5px;
  margin: 5px;
  background-color: #00c055;
  color: white;
  border: none;
  border-radius: 5px;
}

.tradeButton:hover {
  color: white;
  background-color: black;
}

/* FOOTER */
.stocksFooter {
  position:fixed;
  bottom: 0;
}


